.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height:  50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.legal {
  background: lightgreen;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.h-wall {
  background: #999;
  border: 1px solid #999;
  float: left;
  font-size: 5px;
  font-weight: bold;
  line-height: 34px;
  height: 10px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.v-wall {
  background: #999;
  border: 1px solid #999;
  float: left;
  font-size: 5px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 10px;
}

.s-wall {
  background: #999;
  border: 1px solid #999;
  float: left;
  font-size: 5px;
  font-weight: bold;
  line-height: 34px;
  height: 10px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 10px;
}

.placed {
  background: black;
  border: 1px solid black;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
